# docs
sphinx
sphinx-astropy
sphinx-gallery
git+https://bitbucket.org/dkistdc/dkist-sphinx-theme.git

# Stable deps
dask[array]
numpy
scipy
matplotlib

# git deps
git+https://github.com/astropy/astropy
git+https://github.com/spacetelescope/asdf
git+https://github.com/Cadair/gwcs@dkist
git+https://github.com/Cadair/sunpy@fix_pip19_2
git+https://github.com/sunpy/ndcube

# test deps
coverage
pytest-astropy
