# docs
sphinx
sphinx-astropy
git+https://bitbucket.org/dkistdc/dkist-sphinx-theme.git

# Stable deps
dask[complete]
numpy
scipy
matplotlib
ndcube

# git deps
git+https://github.com/Cadair/astropy@dkist
git+https://github.com/Cadair/asdf@dkist
git+https://github.com/Cadair/gwcs@dkist
git+https://github.com/Cadair/sunpy@asdf_tags

# test deps
coverage
pytest-astropy
