# docs
sphinx
sphinx-astropy
git+https://bitbucket.org/dkistdc/dkist-sphinx-theme.git

# Stable deps
dask[complete]
numpy
scipy
matplotlib
# ndcube

asdf

# git deps
git+https://github.com/astropy/astropy
# git+https://github.com/spacetelescope/asdf
git+https://github.com/Cadair/gwcs@dkist
git+https://github.com/Cadair/sunpy@asdf_tags
git+https://github.com/Cadair/ndcube@master_plotting

# test deps
coverage
pytest-astropy
