apt-run: &apt-install
  name: Install apt packages
  command: |
    sudo apt update
    sudo apt install -y graphviz

pip-run: &pip-install
  name: Install Python dependencies
  command: |
    python3 -m venv venv
    . venv/bin/activate
    pip install -q -r requirements.txt

upload-coverage: &coverage
  name: Upload coverage report to codecov
  command: |
    . venv/bin/activate
    pip install codecov
    codecov


version: 2
jobs:
  egg-info-36:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run: python setup.py egg_info

  egg-info-35:
    docker:
      - image: circleci/python:3.5
    steps:
      - checkout
      - run: python setup.py egg_info

  tests:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run: *pip-install
      - run: venv/bin/python setup.py test --coverage
      - run: *coverage

  html-docs:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run: *apt-install
      - run: *pip-install
      - run: venv/bin/python setup.py build_docs -w

      - store_artifacts:
          path: docs/_build/html


workflows:
  version: 2
  test-code:
    jobs:
      - egg-info-36
      - egg-info-35
      - tests:
          requires:
            - egg-info-36
            - egg-info-35

  test-documentation:
    jobs:
      - html-docs

notify:
  webhooks:
    - url: https://dkistbot.dev.cadair.com/circleci
