name: CI

on:
  - push
  - pull_request

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        include:
          - toxenv: codestyle
            os: ubuntu-latest
            python: 3.8
            cov: false
            name: Style Check

          - toxenv: py39
            os: ubuntu-latest
            python: 3.9

          - toxenv: py38
            os: macos-latest
            python: 3.8

          - toxenv: py37
            os: ubuntu-latest
            python: 3.7

          # TODO: Fixme
          # - toxenv: py39-devdeps
          #   os: ubuntu-latest
          #   python: 3.9

          # - toxenv: py37
          #   os: windows-latest
          #   python: 3.7

    name: ${{ matrix.name || format('{0} [{1}]', matrix.toxenv, matrix.os) }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install Tox
        run: python -m pip install --upgrade tox

      - name: Run Tox
        run: tox ${{ matrix.toxargs }} -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}

      - name: Upload coverage to codecov
        if: ${{ !(contains(matrix.cov, 'false')) }}
        uses: codecov/codecov-action@v1
