name: codspeed-walltime-benchmarks

on:
  push:
    branches:
      - "main"
  workflow_dispatch:
  pull_request:
    types:
      - synchronize
      - labeled

jobs:
  benchmarks:
    if: |
      github.event_name != 'pull_request' ||
      (
        github.event_name == 'pull_request' &&
        contains(github.event.pull_request.labels.*.name, 'Run Walltime Benchmarks')
      )
    runs-on: codspeed-macro
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: python -m pip install .[tests] pytest-codspeed
      - name: Run benchmarks
        uses: CodspeedHQ/action@v3
        with:
          token: ${{ secrets.CODSPEED_TOKEN }}
          run: "pytest -vvv -r fEs --pyargs dkist --codspeed --remote-data=any -m walltime"
