name: codspeed-benchmarks

on:
  push:
    branches:
      - "main"
    paths:
      - "dkist/**"
  pull_request:
    paths:
      - "dkist/**"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  benchmarks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - run: python -m pip install .[tests] pytest-codspeed
      - name: Run benchmarks
        uses: CodspeedHQ/action@v4
        with:
          mode: "instrumentation"
          token: ${{ secrets.CODSPEED_TOKEN }}
          run: "pytest -vvv -r fEs --pyargs dkist --codspeed --remote-data=any"
