name: DKIST Downstream

on:
  # Allow manual runs through the web UI
  workflow_dispatch:
  push:
    # Only run CI on main, release branches, and pre-release auto PRs
    branches:
      - 'main'
      - '*.*'
      - '!prepare-v*'
  # We also want this workflow triggered if the 'Run cron CI' label is added
  # or present when PR is updated
  pull_request:
    types:
      - synchronize
      - labeled
      - reopened
  schedule:
    #        ┌───────── minute (0 - 59)
    #        │ ┌───────── hour (0 - 23)
    #        │ │ ┌───────── day of the month (1 - 31)
    #        │ │ │ ┌───────── month (1 - 12 or JAN-DEC)
    #        │ │ │ │ ┌───────── day of the week (0 - 6 or SUN-SAT)
    - cron: '0 9 * * 1'  # Every Monday at 0900 UTC

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  downstream:
    if: (github.event_name != 'pull_request' || contains(github.event.pull_request.labels.*.name, 'Run downstream CI'))
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toxenv:
         - dkist-inventory
         - dkist-processing-common

    steps:
      - name: Git checkout
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          fetch-depth: 0

      - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55  # v5.5.0
        with:
          python-version: '3.11'

      - run: python -m pip install -U tox

      - name: Start redis
        if: ${{ matrix.toxenv == 'dkist-processing-common' }}
        uses: supercharge/redis-github-action@ea9b21c6ecece47bd99595c532e481390ea0f044  # v1.8.0

      - name: Start rabbitmq
        if: ${{ matrix.toxenv == 'dkist-processing-common' }}
        uses: namoshek/rabbitmq-github-action@58b841360ede0e19fc5e4929fc2477ecc09193d8  # v1.1.0
        with:
          version: 3
          ports: "5672:5672"

      - name: Run Tox
        run: tox -e ${{ matrix.toxenv }} -- --color=yes -v

  notify:
    if: always() && github.event_name != 'pull_request' && github.ref_name == 'main'
    needs: [downstream]
    runs-on: ubuntu-latest
    steps:
      - uses: Cadair/matrix-notify-action@main
        with:
          matrix_token: ${{ secrets.matrix_access_token }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          homeserver: ${{ secrets.matrix_homeserver }}
          roomid: '!RehafayCrAiXbzVpXI:openastronomy.org'
