name: CI

on:
  - push
  - pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@main
    with:
      coverage: 'codecov'
      envs: |
        - linux: py311
        - windows: py310
        - macos: py39
        - macos: py310-devdeps
        - windows: py38-oldestdeps
        - linux: py311-build_docs

  publish:
    needs: [tests]
    if: github.event_name != 'pull_request'
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish_pure_python.yml@main
    with:
      test_extras: tests
      test_command: pytest --pyargs dkist
      upload_to_pypi: ${{ startsWith(github.event.ref, 'refs/tags/v') && !endsWith(github.event.ref, '.dev') }}
    secrets:
      pypi_token: ${{ secrets.PYPI_API_TOKEN }}
